
{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>TyA</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat optio voluptas in perspiciatis, sed aspernatur enim. Debitis dolorem quo quia, repudiandae facilis ab iusto repellendus recusandae praesentium non odio rerum.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/TYA.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}